<div class="container-wrap">

  <!-- header -->
  <div class="row">
    <div class="header-contact">
    </div>

    <!-- heading -->
    <div class="row p_m">
      <div class ="col-sm-12">
      <div class="content-name">
        <h1 class="m_0">Check out our wines</h1>
      </div>
    </div>
    </div>

    <!-- data -->
    <div class="row mb_xl p_m">
      <div class="col-sm-12 pb_s">
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h1><i class="fa fa-glass content-icon" aria-hidden="true"></i>Plavac mali red wine</h1>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/wtb4.jpg">
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <p class="test"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h1><i class="fa fa-glass content-icon" aria-hidden="true"></i>Plavac mali rose wine</h1>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/wtb5.jpg">
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
      </div>
    </div>

<!-- bottle-down -->
    <div class="row">
      <div class="fill-container ">
      </div>
      <div class="bottle-container-down">
      </div>
    </div>
    <div class="row">
      <div class="imgborder-d m_0">
      </div>
    </div>

    <!-- data -->
    <div class="row mb_0 mt_xxl pb_0 pl_m pr_m">
      <div class="col-sm-12 pb_s">
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h1><i class="fa fa-glass content-icon" aria-hidden="true"></i>Zlahtina white wine</h1>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/wtb4.jpg">
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <p class="test"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 p_s">
          <div class="col-sm-12 content-home-container p_0">
            <div class="col-sm-12 content-home-header-container">
              <h1><i class="fa fa-glass content-icon" aria-hidden="true"></i>Different sorts of grappas</h1>
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <img src="../../images/wtb5.jpg">
            </div>
            <div class="col-sm-12 content-home-body pt_s mt_s">
              <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
        </div>
        <div class="hidden-sm col-md-1 col-lg-2 p_s">
        </div>
      </div>
    </div>


<!--footer -->
    <div class="footer-container">
      <div class="row p_m">
        <div class="col-sm-12">
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4 pt_l">
            <h1 class="m_0">Wine Tasting Brac</h1>
            <h3 class="m_xs">OPG Franulić</h3>
            <h3 class="m_xs">Zrtava fašizma 11 | 21423 Nerežišća</h3>
            <h3 class="m_xs">Island of Brač | Croatia</h3>
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4 pt_l">
            <h1 class="m_0">Get in touch</h1>
            <div class="mb_s mt_s">
              <i class="fa fa-envelope fa-2x mr_s" aria-hidden="true"></i>
              <h2 class="m_0">winetastingbrac@gmail.com</h2>
            </div>
            <div class="mb_s">
              <i class="fa fa-phone-square fa-2x cll mr_s" aria-hidden="true"></i>
              <h2 class="m_0">+385 98 195 1550</h2>
            </div>
          </div>
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
        </div>
      </div>

      <div class="row p_m">
        <div class="col-sm-12">
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
          <div class="col-sm-12 col-md-10 col-lg-8">
            <div id="map"></div>
          </div>
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
          <div class="col-sm-12 col-md-10 col-lg-8 tac">
            <div class="m_m inb">
              <i class="fa fa-facebook-official fa-2x m_s" aria-hidden="true"></i>
              <i class="fa fa-instagram fa-2x m_s" aria-hidden="true"></i>
              <i class="fa fa-google-plus fa-2x m_s" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor fa-2x m_s" aria-hidden="true"></i>
            </div>
          </div>
          <div class="hidden-sm col-md-1 col-lg-2">
          </div>
        </div>
      </div>

    </div>

  </div>
