/*bootstrap override*/

.form-control {
  border-radius: 0;
  background-color:rgba(0,0,0,0) !important;
  border: 1px solid grey;
}

/* contact background+*/

.bg-white{
  background-color: rgba(255, 255, 255, 0.9);
}

/* header contact */

.header-contact{
  width:100%;
  height:10vh;
}

/* menu small*/

.menu-small-dropdown {
  display:none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  z-index:6;
}

.menu-small-dropdown::after {
  width: 100%;
  height:50px;
  position: fixed;
  top:320px;
  left:0;
  right:0;
  background-image: url("../images/kosina5.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-position: 0 0;
  content: "";
}

.menu-small-dropdown li {
width: 100%;
height: 80px;
background-color: #990000;
margin:0;
padding:0;
line-height: 80px;
text-align: center;
}

.menu-small-dropdown li a {
vertical-align: middle;
margin-left: auto;
margin-right:auto;
font-size: 36px;
color: white;
}

.menu-small-dropdown li a:hover {
color: grey;
text-decoration: none;
}

.menu-small-icon {
  display:none;
  color:grey;
  position: fixed;
  top: 30px;
  right: 20px;
}

@media (max-width: 768px){
  .menu-small-icon {
    display: inline-block;
  }
  .main-menu ul.menu-big {
    display:none;
  }
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  overflow-x: hidden;
}

html {
  min-height: 100%; /* enforce height */
  scroll-behavior: smooth;
}

.main-menu::before{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  height: 100px;
  width: 100%;
  width: 100vw;
  background-color: #990000;
}

.main-menu{
  margin:0;
  padding:0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  width: 100%;
  width: 100vw;
  z-index:5;
}

.main-menu::after{
  width: 100%;
  width: 100vw;
  height:50px;
  position: fixed;
  top:100px;
  left:0;
  right:0;
  background-image: url("../images/kosina5.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-position: 0 0;
  content: "";
}

@media(max-width:768px){
  .main-menu::before{
    height:70px;
  }

  .main-menu{
    height:95px;
  }

  .main-menu::after{
    top:70px;
    height:25px;
  }
}

ul.menu-big {
  position:fixed;
  top:0;
  right:0;
  left:0;
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 50%;
  height: 100%;
  z-index:5;
}

@media(max-width:1200px){
  ul.menu-big {
    width: 80%;
  }
}



ul.menu-big li {
  height:100%;
  display: inline-block;
  float: left;
  width:25%;
  padding-top: 40px;

}

/*li:not(:first-child) {
border-left: 1px dotted white;
}*/

ul.menu-big li a {
  font-size: 40px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:grey;
  outline: 0;
}


ul.menu-big li a.first:focus{
  outline: 0;
}

ul.menu-big li a:hover, ul.menu-big li a:active, ul.menu-big li a:focus {
  outline: 0;
  text-decoration: none;
  color:white;
}

@media(max-width:768px){
  ul.menu-big li {
    padding-top: 20px;
  },
  ul.menu-big li a {
    font-size: 24px !important;
  }
}

@media(max-width:480px){
  ul.menu-big li {
    width:100%;
  },
  ul.menu-big li a {
    font-size: 24px;
  }
}

.header {
  width:100%;
  height:80vh;
}

@media(max-width:768px){
  .header {
    height:70vh;
  }
}

.container {
  width:100%;
}

.container-wrap {
  overflow: hidden;
}

.container-wrap::before{
  margin:0;
  padding:0;
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 120vh;
  z-index: -10;
  background: url("../images/header.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.fill-container {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 510px;
  position: absolute;
  left:0;
  right:0;
  background: url("../images/ispuna.jpg") repeat-x;
  background-attachment: fixed;
  background-size: 450px 2400px;
  -webkit-background-size: 450px 2400px;
  -moz-background-size: 450px 2400px;
  -o-background-size: 450px 2400px;
  z-index: 0;
  -webkit-transition-property: background-image; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: background-image;
  transition-duration: 2s;
}


.bottle-container-up::before {
  height:51px;
  padding-top: 0;
  background-image: url("../images/kosina.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  right:0;
  z-index:1;
  filter: drop-shadow(rgba(29, 38, 37, .5) 0 0 10px 0 20px);
  content: "";
}

.bottle-container-up {
  height: 560px;
  width: 100%;
  z-index: 1;
  position: relative;
  top:0;
  left:0;
  right:0;
}

.bottle-container-up::after {
  width: 100%;
  z-index: 1;
  height:510px;
  position: absolute;
  top:50px;
  left:0;
  right:0;
  background-image: url("../images/boca7.png");
  background-repeat: repeat;
  background-size: 400px 250px;
  -webkit-background-size: 400px 250px;
  -moz-background-size: 400px 250px;
  -o-background-size: 400px 250px;
  background-position: 400px 250px;
  background-position-x: 400px;
  background-position-y: 250px;
  -webkit-transition-property: background-size; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: background-size;
  transition-duration: 2s;
  content: "";
}

.bottle-container-down {
  padding: 0;
  margin: auto;
  height: 560px;
  width: 100%;
  z-index: 2;
  position: relative;
  top:0;
  left:0;
  right:0
}

.bottle-container-down::before {
  content: "";
  height:50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  right:0;
  background-image: url("../images/kosina4.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-transition-property: background-size; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: background-size;
  transition-duration: 2s;
}

.bottle-container-down::after {
  content: "";
  height: 510px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top:50px;
  left:0;
  right:0;
  background-image: url("../images/boca8.png");
  background-repeat: repeat;
  background-size: 400px 250px;
  -webkit-background-size: 400px 250px;
  -moz-background-size: 400px 250px;
  -o-background-size: 400px 250px;
  background-position: -250px 0;
  background-position-x: -250px;
  background-position-y: 0;
  -webkit-transition-property: background-size; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: background-size;
  transition-duration: 2s;
}


@media(max-width:1600px){
  .fill-container{
    height: 410px;
    background-size:330px 2250px;
    -webkit-background-size: 330px 2250px;
    -moz-background-size: 330px 2250px;
    -o-background-size: 330px 2250px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 460px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 410px;
    background-size: 350px 200px;
    -webkit-background-size: 350px 200px;
    -moz-background-size: 350px 200px;
    -o-background-size: 350px 200px;
  }
}

@media(max-width:1200px){
  .fill-container{
    height: 325px;
    background-size:300px 1800px;
    -webkit-background-size: 300px 1800px;
    -moz-background-size: 300px 1800px;
    -o-background-size: 300px 1800px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 375px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 325px;
    background-size: 280px 160px;
    -webkit-background-size: 280px 160px;
    -moz-background-size: 280px 160px;
    -o-background-size: 280px 160px;
    background-position: -200px 0;
    background-position-x: -200px;
    background-position-y: 0;
  }
}

@media(max-width:1000px){
  .fill-container{
    height: 285px;
    /*  background-size:260px 1500px;
    -webkit-background-size: 260px 1500px;
    -moz-background-size: 260px 1500px;
    -o-background-size: 260px 1500px;*/
    background-color: #990000;
    background-size: 0 0;
  }
  .bottle-container-up, .bottle-container-down {
    height: 335px;
  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 285px;
    background-size: 240px 140px;
    -webkit-background-size: 240px 140px;
    -moz-background-size: 240px 140px;
    -o-background-size: 240px 140px;
    background-position: -160px 0;
    background-position-x: -160px;
    background-position-y: 0;

  }
}

@media(max-width:768px){
  .fill-container{
    height: 225px;
    /*  background-size:210px 1200px;
    -webkit-background-size: 210px 1200px;
    -moz-background-size: 210px 1200px;
    -o-background-size: 210px 1200px;*/
    margin-top: 25px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 250px;
  }
  .bottle-container-up::before, .bottle-container-down::before {
    height: 26px;
  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 225px;
    top:25px;
    background-size: 195px 110px;
    -webkit-background-size: 195px 110px;
    -moz-background-size: 195px 110px;
    -o-background-size: 195px 110px;
    background-position: -130px 0;
    background-position-x: -130px;
    background-position-y: 0;
  }
  .imgborder-u {
    height:15px;
  }
  .imgborder-d {
    height:15px;
  }
}

@media(max-width:480px){
  .fill-container{
    height: 175px;
    /*  background-size:160px 900px;
    -webkit-background-size: 160px 900px;
    -moz-background-size: 160px 900px;
    -o-background-size: 160px 900px;*/
  }
  .bottle-container-up, .bottle-container-down {
    height: 200px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 175px;
    background-size: 150px 86px;
    -webkit-background-size: 150px 86px;
    -moz-background-size: 150px 86px;
    -o-background-size: 150px 86px;
    background-position: -160px 0;
    background-position-x: -160px;
    background-position-y: 0;
  }
}

.imgborder-u {
  height:30px;
  background-image: url("../images/kosina2.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  width:100%;
  margin: 0;
}
.imgborder-d {
  height:30px;
  background-image: url("../images/kosina3.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  width:100%;
}

.wrapper {
  position:fixed;
  width:100%;
  height:100%;
}
.content-name{
  width:100%;
  z-index: 2;
  line-height:400px;
  text-align: center;
}

.content-name h1{
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 54px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.content{
  width:100%;
  z-index: 2;

}

.content-home-container {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-header-container {
  background-color: #FFC3E1;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  font-size: 14px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 1px 1px 1px 10px;
}
.content-home-body {
  background-color: #fff;
  font-size: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-body p {
  line-height: 1.6;
}

.content-home-body img {
  width:100%;
  height: auto;
}



.content-icon {
  margin-right: 20px;
  width:20px;
  height:auto;
}

.detail{
  border: 1px dotted white;
  height: 400px;
}
.footer-container {
  background-image: url("../images/ispuna.png");
  background-repeat: repeat-x;
  background-size: 400px 1200px;
  background-position: 0 0;
  color: #fff;
  padding-top: 310px;
  right:0;
  left:0;
  z-index:4
}





i {
  display:inline-block;
  float: left;
}

.img {
  width: 100%;
  height: auto;

}





#map {
  width:100%;
  height: 350px;
}

/*block helpers*/
.inb {
  display: inline-block;
}
.cll {
  clear:left;
}

.tac {
  text-align: center;
}

/*
margin helpers
*/
.m_0 {
  margin: 0px;
}

.m_xs {
  margin: 5px;
}

.m_m {
  margin: 10px;
}

.m_l {
  margin: 15px;
}

.mb_0 {
  margin-bottom: 0px;
}

.mb_xs {
  margin-bottom: 5px;
}

.mb_s {
  margin-bottom: 10px;
}

.mb_m {
  margin-bottom: 15px;
}

.mb_l {
  margin-bottom: 20px;
}

.mb_xl {
  margin-bottom: 25px;
}

.ml_xs {
  margin-left: 5px;
}

.mt_0 {
  margin-top: 0;
}

.mt_xs {
  margin-top: 5px;
}

.mt_s {
  margin-top: 10px;
}

.mt_m {
  margin-top: 15px;
}

.mt_l {
  margin-top: 20px;
}

.mt_xl {
  margin-top: 30px;
}

.ml_s {
  margin-left: 10px;
}

.ml_m {
  margin-left: 15px;
}

.ml_l {
  margin-left: 20px;
}

.mr_xs {
  margin-right: 5px;
}

.mr_s {
  margin-right: 10px;
}

.mr_l {
  margin-right: 20px;
}

.p_0 {
  padding: 0;
}

.pt_0 {
  padding-top: 0;
}

.p_xs {
  padding: 5px;
}

.p_s {
  padding: 10px;
}

.pl_0{
  padding-left: 0;
}

.pr_0{
  padding-right: 0;
}

.pr_xs {
  padding-right: 5px;
}

.pl_xs {
  padding-left: 5px;
}

.pt_s {
  padding-top: 10px;
}

.pr_s {
  padding-right: 10px;
}

.pl_s {
  padding-left: 10px;
}

.pl_l {
  padding-left: 20px;
}

.pl_xl {
  padding-left: 25px;
}

.pl_xxl {
  padding-left: 30px;
}

.p_m {
  padding: 15px;
}

.pl_m {
  padding-left: 15px;
}

.pr_m {
  padding-right: 15px;
}

.pt_m {
  padding-top: 15px;
}

.p_l {
  padding: 20px;
}

.p_xl {
  padding: 25px;
}

.pt_l {
  padding-top: 20px;
}

.pt_xl {
  padding-top: 25px;
}

.pt_xs {
  padding-top: 5px;
}

.m_m {
  margin: 10px;
}

.pb_xs {
  padding-bottom: 5px;
}

.pb_s {
  padding-bottom: 10px;
}

.pb_m {
  padding-bottom: 15px;
}

.pb_l {
  padding-bottom: 20px;
}

.pb_xl {
  padding-bottom: 30px;
}

.w_full {
  width: 100%;
}

.action-buttons button {
  margin-bottom: 5px;
}

/* stranger things */

.h95 {
  height: 95%;
}

.h100 {
  height: 100%;
}

.ha {
  overflow: hidden;
}

.word-wrap {
  white-space: normal;
}
