body::before {

}


html {
height: 100vh; /* set viewport constraint */
min-height: 100%; /* enforce height */
scroll-behavior: smooth;
}

.header {
  width:100%;
  height:70vh;
}

.container-wrap {
  overflow: hidden;
}

.container-wrap::before{
margin:0;
padding:0;
content: "";
display: block;
position: fixed;
left: 0;
top: 0;
bottom:0;
right:0;
width: 100%;
height: 120vh;
z-index: -10;
background: url("../images/header.jpg") no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

.fill-container {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 510px;
  position: absolute;
  background: url("../images/ispuna.jpg") repeat-x;
  background-attachment: fixed;
  background-size: 450px 2400px;
  -webkit-background-size: 450px 2400px;
  -moz-background-size: 450px 2400px;
  -o-background-size: 450px 2400px;
  z-index: 0;
  -webkit-transition-property: background-image; /* Safari */
     -webkit-transition-duration: 2s; /* Safari */
     transition-property: background-image;
     transition-duration: 2s;
}


.bottle-container-up::before {
  height:51px;
  padding-top: 0;
  background-image: url("../images/kosina.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  position:absolute;
  width:100%;
  right:0;
  top:0;
  left:0;
  z-index:1;
  filter: drop-shadow(rgba(29, 38, 37, .5) 0 0 10px 0 20px);
  content: "";
}

.bottle-container-up {
  height: 560px;
  width: 100%;
  z-index: 1;
  position: relative;
  display:block;
  top:0;
  left:0;
}

.bottle-container-up::after {
  width: 100%;
  z-index: 1;
  height:510px;
  position: absolute;
  top:50px;
  left:0;
  right:0;
  background-image: url("../images/boca7.png");
  background-repeat: repeat;
  background-size: 400px 250px;
  -webkit-background-size: 400px 250px;
  -moz-background-size: 400px 250px;
  -o-background-size: 400px 250px;
  background-position: 400px 250px;
  background-position-x: 400px;
  background-position-y: 250px;
  -webkit-transition-property: background-size; /* Safari */
     -webkit-transition-duration: 2s; /* Safari */
     transition-property: background-size;
     transition-duration: 2s;
  content: "";
}

.bottle-container-down {
  padding: 0;
  margin: auto;
  height: 560px;
  width: 100%;
  z-index: 2;
  position: relative;
  top:0;
  left:0;
  right:0
}

.bottle-container-down::before {
  content: "";
  height:50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  right:0;
  background-image: url("../images/kosina4.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-transition-property: background-size; /* Safari */
     -webkit-transition-duration: 2s; /* Safari */
     transition-property: background-size;
     transition-duration: 2s;
}

.bottle-container-down::after {
  content: "";
  height: 510px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top:50px;
  left:0;
  right:0;
  background-image: url("../images/boca8.png");
  background-repeat: repeat;
  background-size: 400px 250px;
  -webkit-background-size: 400px 250px;
  -moz-background-size: 400px 250px;
  -o-background-size: 400px 250px;
  background-position: -250px 0;
  background-position-x: -250px;
  background-position-y: 0;
  -webkit-transition-property: background-size; /* Safari */
     -webkit-transition-duration: 2s; /* Safari */
     transition-property: background-size;
     transition-duration: 2s;
}


@media(max-width:1600px){
  .fill-container{
    height: 410px;
    background-size:330px 2250px;
    -webkit-background-size: 330px 2250px;
    -moz-background-size: 330px 2250px;
    -o-background-size: 330px 2250px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 460px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 410px;
    background-size: 350px 200px;
    -webkit-background-size: 350px 200px;
    -moz-background-size: 350px 200px;
    -o-background-size: 350px 200px;
  }
}

@media(max-width:1200px){
  .fill-container{
    height: 325px;
    background-size:300px 1800px;
    -webkit-background-size: 300px 1800px;
    -moz-background-size: 300px 1800px;
    -o-background-size: 300px 1800px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 375px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 325px;
    background-size: 280px 160px;
    -webkit-background-size: 280px 160px;
    -moz-background-size: 280px 160px;
    -o-background-size: 280px 160px;
    background-position: -200px 0;
    background-position-x: -200px;
    background-position-y: 0;
  }
}

@media(max-width:1000px){
  .fill-container{
    height: 285px;
  /*  background-size:260px 1500px;
    -webkit-background-size: 260px 1500px;
    -moz-background-size: 260px 1500px;
    -o-background-size: 260px 1500px;*/
    background-color: #990000;
    background-size: 0 0;
  }
  .bottle-container-up, .bottle-container-down {
    height: 335px;
  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 285px;
    background-size: 240px 140px;
    -webkit-background-size: 240px 140px;
    -moz-background-size: 240px 140px;
    -o-background-size: 240px 140px;
    background-position: -160px 0;
    background-position-x: -160px;
    background-position-y: 0;

  }
}

@media(max-width:768px){
  .fill-container{
    height: 225px;
  /*  background-size:210px 1200px;
    -webkit-background-size: 210px 1200px;
    -moz-background-size: 210px 1200px;
    -o-background-size: 210px 1200px;*/
    margin-top: 25px;
  }
  .bottle-container-up, .bottle-container-down {
    height: 250px;
  }
  .bottle-container-up::before, .bottle-container-down::before {
    height: 26px;
  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 225px;
    top:25px;
    background-size: 195px 110px;
    -webkit-background-size: 195px 110px;
    -moz-background-size: 195px 110px;
    -o-background-size: 195px 110px;
    background-position: -130px 0;
    background-position-x: -130px;
    background-position-y: 0;
  }
  .imgborder-u {
    height:15px;
  }
  .imgborder-d {
    height:15px;
  }
}

@media(max-width:480px){
  .fill-container{
    height: 175px;
  /*  background-size:160px 900px;
    -webkit-background-size: 160px 900px;
    -moz-background-size: 160px 900px;
    -o-background-size: 160px 900px;*/
  }
  .bottle-container-up, .bottle-container-down {
    height: 200px;

  }
  .bottle-container-up::after, .bottle-container-down::after {
    height: 175px;
    background-size: 150px 86px;
    -webkit-background-size: 150px 86px;
    -moz-background-size: 150px 86px;
    -o-background-size: 150px 86px;
    background-position: -160px 0;
    background-position-x: -160px;
    background-position-y: 0;
  }
}

.imgborder-u {
  height:30px;
  background-image: url("../images/kosina2.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  width:100%;
}
.imgborder-d {
  height:30px;
  background-image: url("../images/kosina3.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  width:100%;
}

.wrapper {
  position:fixed;
  width:100%;
  height:100%;
}
.content-name{
  width:100%;
  z-index: 2;
line-height:400px;
  text-align: center;
}

.content-name h1{
  vertical-align: middle;
   display: inline-block;
   width: 100%;
   color: white;
   font-size: 54px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

.content{
  width:100%;
  z-index: 2;

}

.content-home-container {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-header-container {
  background-color: #FFC3E1;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  font-size: 14px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 1px 1px 1px 10px;
}
.content-home-body {
  background-color: #fff;
  font-size: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-home-body p {
  line-height: 1.6;
}

.content-home-body img {
  width:100%;
  height: auto;
}



.content-icon {
  margin-right: 20px;
  width:20px;
  height:auto;
}

.detail{
  border: 1px dotted white;
  height: 400px;
}
.footer {
  background-image: url("../images/ispuna.png");
  background-repeat: repeat-x;
  background-size: 400px 1200px;
  background-position: 0 0;
  color: #fff;
  padding-top: 310px;
  right:0;
  left:0;
  z-index:4
}





i {
  display:inline-block;
  float: left;
}

.img {
  width: 100%;
  height: auto;

}



ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  z-index:5;
}

li {
  float: left;
  width:23%;
  background: rgba(54, 25, 25, .9);


}

li:not(:first-child) {
  border-left: 1px dotted white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#map {
  width:100%;
  height: 350px;
}
